@import "node_modules/ol/ol.css";
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.control {
    position: absolute;
    top: 10px;
    left: 10px;
    background: white;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.rankTextBox {
    display: flex;
    align-items: center;
}

#rankValue {
    margin-left: 4px;
}

.sliderBox {
    display: flex;
    align-items: center;
}

#play-btn {
    appearance: none;
    border: none;
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    padding: 4px 8px;
}